{% block body %}
<div style="text-align: center">
  {% if invalid_input %}
  <p>Invalid Input</p>
  {% endif %} {% if invalid_username %}
  <p>Username already taken</p>
  {% endif %} {% if successful %}
  <p>Successfully created user</p>
  {% endif %}
  <form action="/create" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create user">
  </form>
  <a href='/'>Home</a>
</div>
{% endblock %}